{% extends "public_template.html" %}

{% block main %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>About</h1>
      <hr>
      <ul>
      <li><p class="text-justify">ScanHealth is a web application that offers free diagnosis of pneumonia. 
        The client only needs to upload an x-ray photo of the chest region and wait a few moments for the diagnosis.
        Examples of x-ray images are shown below and illustrate both normal and pneumonia affected lungs. </p>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="./img/xray.png" class="w-100" alt="Responsive image">
          </div>
        </div>
      </div>
      </li>
      <br>
      <li><p class="text-justify">ScanHealth has an advanced Artificial Intelligence technology that can accurately detect pneumonia patterns in x-ray exams. The algorithm takes only a few seconds to run and classify the patient's clinical condition, safely and privately.
        The dataset used in the project was extracted from <a href="https://data.mendeley.com/datasets/rscbjbr9sj/2">this website</a> and consists of historical x-ray images of patients diagnosed with or without pneumonia.
        Among patients who were diagnosed with pneumonia, the predictive model was able to correctly diagnose more than 90% of pneumonia cases (recall).</p></li>
      <br>
      <li><p class="text-justify">The web application was developed as part of the challenge proposed by Pickcells® for the Data Science + Back-end vacancy.</p></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}