{% extends "public_template.html" %}

{% block title %} Home {% endblock %}

{% block main %} 

<header class="bg-primary text-white" style="padding: 156px 0 100px">
  <div class="container text-center">
    <h1>Welcome to ScanHealth</h1>
    <p class="lead">A fast & safe application for X-ray analysis and detection of pneumonia</p>
  </div>
</header>
<h1>{{ id }}</h1>
<br>
<br>
<br>
<div class="row mx-md-n5" style="padding: 0px 20px">
  <div class="col px-md-5">
    <img src="./static/img/fast.png" class="mx-auto d-block" alt="fast"  style="width:auto; height:90px">
    <br>
    <div class="col" style="padding:10px 60px">
      <h4 class="text-center">In just a few seconds, ScanHealth analyses the x-ray image</h4>
      <br>
    </div>
  </div>
  <div class="col px-md-5">
    <img src="./static/img/ai.png" class="mx-auto d-block" alt="ai" style="width:auto; height:80px">
    <br>
    <div class="col" style="padding:10px 60px">
      <h4 class="text-center">ScanHealth is powered with Artificial Intelligence to analyse images with precision</h4>
      <br>
    </div>
  </div>
  <div class="col px-md-5">
    <img src="./static/img/safe.png" class="mx-auto d-block" alt="safe" style="width:auto; height:80px">
    <div class="col" style="padding:10px 60px">
      <br>
      <h4 class="text-center">ScanHealth guarantee your privacy by not extracting any personal information</h4>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<br>

{% endblock %}