{% extends "public_template.html" %}

{% block title %} Home {% endblock %}

{% block main %} 

<header class="bg-primary text-white" style="padding: 156px 0 100px">
  <div class="container text-center">
    <h1>Welcome to ScanHealth</h1>
    <p class="lead">A fast & safe application for X-ray analysis and detection of pneumonia</p>
  </div>
</header>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Home</h1>
      <hr>
      
    </div>
  </div>
</div>

{% endblock %}